body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.home-container {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background: #000;
  padding: 20px 40px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar .shop-name {
  color: #ff4d6d;
  font-size: 32px;
  font-weight: bold;
  margin-right: auto;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ff4d6d;
}

/* Hero Section */
.hero {
  height: 550px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1441986300917-64674bd600d8?q=80&w=1400&auto=format&fit=crop");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Content */
.hero-content {
  background: rgba(255, 77, 109, 0.7);
  padding: 50px;
  border-radius: 25px;
  color: white;
  text-align: center;
  width: 70%;
  backdrop-filter: blur(5px);
}

.hero-content h1 {
  font-size: 70px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 20px;
}

.shop-title {
  font-size: 28px;
  font-weight: bold;
  color: #ffe066;
}

/* Products Section */
.products {
  padding: 60px;
}

.products h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 40px;
  color: #111827;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* Product Card */
.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-12px);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h3 {
  margin: 10px 0;
  font-size: 24px;
}

.price {
  color: #2563eb;
  font-size: 26px;
  font-weight: bold;
}

/* Button */
.btn {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 14px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #e63956;
}